.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.502);
    z-index: 99;
}

.dialog-ms {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: auto;
    z-index: 9999;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(164, 207, 78);
}

.dialog-ms p {
    font-size: 20px;
}

.dialog-ms button {
    font-size: 28px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 3px;
    background-color: rgb(0, 255, 42);
    cursor: pointer;
    margin-top: 10px;
}

.dialog-ms button:hover {
    background-color: rgb(23, 165, 47);
    color: rgb(0, 0, 0);
    font-weight: bold;
}