.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000080;
    z-index: 99;
}

.dialog-ms {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    z-index: 9999;
    padding: 5px;
    text-align: center;
    background-color: #a4cf4e;
    border-radius: 20px;
    border: 5px solid #000000;
}

.dialog-ms p {
    font-size: 20px;
}

.dialog-ms button {
    font-size: 28px;
    border: 3px solid #000000;
    border-radius: 10px;
    padding: 3px;
    background-color: #00ff2a;
    cursor: pointer;
    margin-top: 10px;
}

.dialog-ms button:hover {
    background-color: #17a52f;
    color: #000000;
    font-weight: bold;
}