.footer-container {
    padding: 10px;
}

.footer-con-cer-cv {
    display: flex;
    justify-content: space-evenly;
}

.footer-con-cer-cv>div {
    width: 30%;
}

.footer-con-cer-cv h4 {
    text-align: center;
}

.footer-contacto-link {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
}

.footer-contacto-link i {
    outline: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.footer-contacto-link a {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    text-align: 15px;
    color: black;
}

#linkedin {
    background-color: #0000ff;
    color: #ffffff;
}

#github {
    background-color: #ffffff;
    color: #000000;
}

#gmail {
    background-color: #ce2727;
}

#whatsapp {
    background-color: rgb(20, 109, 27);
}

#contacto {
    padding: 5px;
}

#contacto:target {
    outline: 1px solid #000000;
    animation: luz 3s ease-in-out;
}

@keyframes luz {
    0% {
        box-shadow: none;
    }

    50% {
        box-shadow: 0 0 20px yellow;
    }

    100% {
        box-shadow: none;
    }
}



h5 {
    margin-top: 5px;
    text-align: center;
}