.footer-container {
    padding: 10px;
}

.footer-con-cer-cv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-con-cer-cv>div {
    width: 30%;
}

.footer-con-cer-cv h4 {
    text-align: center;
    margin-top: 7px;
}

.footer-contacto-link {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
}

.footer-contacto-link i {
    outline: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.footer-contacto-link a {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    text-align: 15px;
    color: black;
}

#linkedin {
    background-color: #0000ff;
    color: #ffffff;
}

#github {
    background-color: #ffffff;
    color: #000000;
}

#gmail {
    background-color: #ce2727;
}

#telegram {
    background-color: #26aaff;
}

#contacto {
    padding: 5px;
}

#contacto:target,
#certificado:target,
#cv:target {
    outline: 1px solid #000000;
    animation: luz 4s ease-in-out forwards;
    border: 2px solid gold;
}

@keyframes luz {
    0% {
        box-shadow: 0 0 20px yellow;
        outline: 1px solid #000000;
    }

    50% {
        box-shadow: 0 0 20px yellow;
        outline: 1px solid #000000;
    }

    100% {
        box-shadow: none;
        outline: none;
        border: none;
    }
}

#certificado {
    text-align: center;
}

#certificado select {
    margin-top: 7px;
}

#cv p {
    text-align: center;
    margin-top: 7px;
}

#cv a:hover {
    color: #147900;
    font-weight: bold;
    text-decoration: underline;
}

h5 {
    margin-top: 10px;
    text-align: center;
}

@media(max-width:767px) {
    .footer-con-cer-cv {
        text-align: center;
        flex-wrap: wrap;
    }
    .footer-con-cer-cv>div{
        width: 50%;
    }

    #certificado {
        margin-top: 10px;
    }

    #certificado {
        margin-top: 10px;
    }

    #cv {
        margin-top: 10px;
    }
}