.inicio-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.presentacion-div {
    width: 50%;
    text-align: center;
}

#presenta-hr {
    width: 80%;
    margin: 0 auto;
}

.presentacion-div h1 {
    text-align: center;
    font-size: 83px;
    text-shadow: 8px 8px 8px rgb(128, 128, 128);
}

.presentacion-div p {
    text-align: center;
    font-size: 18px;
    margin-top: 13px;
    margin-left: 0 35px;
}

.cartilla-div {
    width: 300px;
    outline: 5px solid rgb(0, 0, 0);
    border-radius: 20px;
    overflow: hidden;
    background-color: rgb(163, 255, 76);
}

.cartilla-div-figure {
    max-width: 180px;
    min-width: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-top: 15px;
}

.cartilla-div-figure img {
    width: 100%;
    border-radius: 20px;
    outline: 1px solid rgb(0, 0, 0);
}

.cartilla-description {
    padding-left: 30px;
}

.cartilla-description li {
    margin-top: 5px;
}

.cartilla-description b {
    font-size: 17px;
}

.cartilla-description b::before {
    content: "♣️";
}

.hr-responsive {
    display: none;
}

@media(max-width:1023px) and (min-width:768px) {

    .inicio-div {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-bottom: 200px;
    }

    .presentacion-div {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
    }

    .presentacion-div h1 {
        font-size: 100px;
        text-shadow: 5px 5px 5px rgb(128, 128, 128);
    }

    .presentacion-div p {
        font-size: 23px;
        padding: 0 100px;
    }

    .cartilla-div-container {
        height: 430px;
        display: flex;
        align-items: center;
    }

    .hr-responsive {
        display: block;
    }
}

@media(max-width:767px) {
    .inicio-div {
        display: flex;
        flex-direction: column;
        padding-bottom: 200px;
        height: 100%;
    }

    .presentacion-div {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
    }

    .presentacion-div h1 {
        text-align: center;
        font-size: 43px;
        text-shadow: 3px 3px 3px rgb(128, 128, 128);
    }

    .presentacion-div p {
        padding: 0 10px;
    }

    .cartilla-div-container {
        height: 430px;
        display: flex;
        align-items: center;
    }

    .hr-responsive {
        display: block;
    }

    .cartilla-div {
        width: 260px;
    }
}