.lenguajes-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.lenguajes-container h2 {
    font-size: 80px;
    text-shadow: 8px 8px 8px #808080;
    text-align: center;
}

.lenguajes-tarjetas {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 85%;
    height: 53vh;
    overflow: auto;
    border: 1px solid black;
    padding: 10px 10px 20px 10px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #000000;
    background-color: #cacaca;
}

.lenguajes-tarjetas::-webkit-scrollbar {
    width: 10px;
}

.lenguajes-tarjetas::-webkit-scrollbar-track {
    background: rgb(63, 63, 63);
}

.lenguajes-tarjetas::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, #ff3838, #ffc233, #0effbf);
    border-radius: 15px;
    border: 2px solid rgb(0, 0, 0);
}

.lenguajes-tarjetas fieldset {
    margin-top: 20px;
    padding: 5px;
    border-width: 5px;
    border-color: #000000;
    width: 30%;
    align-items: center;
}

.lenguajes-tarjetas fieldset>p {
    padding: 5px;
    text-align: justify;
}

.lenguajes-tarjetas legend {
    font-size: 25px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}

.lenguajes-tarjetas figure {
    margin-top: 10px;
    max-width: 250px;
    min-width: 70px;
    margin-left: auto;
    margin-right: auto;
}

.lenguajes-tarjetas img {
    width: 100%;
}

.lenguajes-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lenguajes-content a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #ff0000;
}

.lenguajes-content p {
    margin-top: 10px;
}

@media(max-width:1023px) and (min-width:768px) {
    .lenguajes-container {
        height: 100vh;
    }

    .lenguajes-container h2 {
        font-size: 70px;
    }

    .lenguajes-tarjetas {
        width: 85%;
        padding: 8px 8px 18px 8px;
        border: 4px solid #000000;
    }

    .lenguajes-tarjetas fieldset {
        width: 40%;
    }
}

@media(max-width:767px) {
    .lenguajes-container {
        height: 100vh;
    }

    .lenguajes-container h2 {
        font-size: 50px;
    }

    .lenguajes-tarjetas {
        width: 85%;
        padding: 3px 3px 13px 3px;
        border: 3px solid #000000;
    }

    .lenguajes-tarjetas fieldset {
        width: 65%;
    }
}