.sobreMi {
    height: 100vh;
    display: flex;
    align-items: center;
}

.sobreMi h2 {
    text-align: center;
    font-size: 80px;
    text-shadow: 8px 8px 8px #ffffff;
}

.sobreMi-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    align-items: center;
}

.sobreMi legend {
    text-align: center;
}

.sobreMi h3 {
    font-size: 20px;
    padding: 0 5px;
}

.sobreMi-container fieldset {
    width: 23%;
    padding: 10px;
    border-width: 5px;
    overflow: hidden;
}

.sobreMi-descripcion {
    text-align: justify;
}

.cualidadesAptitudes ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cualidadesAptitudes li {
    display: block;
    margin: 3px;
    padding: 2px;
    border: 1px solid #000000;
    border-radius: 7px;
}

.sobreMi-hobbies ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sobreMi-hobbies li {
    margin: 3px;
    padding: 2px;
    border: 1px solid #000000;
    border-radius: 7px
}

@media(max-width:1023px) and (min-width:768px) {
    .sobreMi {
        width: 100%;
        height: 100%;
        padding-bottom: 50px;
    }

    .sobreMi h2 {
        margin-top: 100px;
        font-size: 70px;
        text-shadow: 5px 5px 5px #ffffff;
    }

    .sobreMi-container {
        flex-direction: column;
        margin-top: 0;
    }

    .sobreMi-container fieldset {
        width: 45%;
        margin-top: 70px;
    }
}

@media(max-width:767px) {
    .sobreMi {
        width: 100%;
        height: 100%;
        padding-bottom: 50px;
    }

    .sobreMi h2 {
        margin-top: 100px;
        font-size: 50px;
        text-shadow: 3px 3px 3px #ffffff;
    }

    .sobreMi-container {
        flex-direction: column;
        margin-top: 0;
    }

    .sobreMi-container fieldset {
        width: 70%;
        margin-top: 70px;
    }
}