* {
  padding: 0px;
  margin: 0px;
  font-family: 'Russo One', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  background: linear-gradient(rgb(248, 124, 124), rgb(241, 208, 129), rgb(29, 233, 178));
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: rgb(63, 63, 63);
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, rgb(255, 56, 56), rgb(255, 194, 51), rgb(14, 255, 191));
  border-radius: 15px;
  border: 2px solid rgb(0, 0, 0);
}

hr {
  border-color: rgb(158, 158, 158);
}

#dimensiones {
  display: none;
}

#dimensiones figure {
  max-width: 800px;
  min-width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#dimensiones img {
  width: 100%;
  border-radius: 20px;
}

@media(min-width:2600px) {

  #root {
    display: none;
  }

  #dimensiones {
    display: block;
    height: 100vh;
    overflow: auto;
    padding: 5px;
  }

  #dimensiones p {
    font-size: 80px;
    text-align: center;
  }
}

@media(max-width:275px) {

  #root {
    display: none;
  }

  #dimensiones {
    display: block;
    height: 100vh;
    overflow: auto;
    padding: 5px;
  }

  #dimensiones p {
    font-size: 25px;
    text-align: center;
  }
}